<nav class="navbar navbar-dark navbar-expand-xl navOptions mb-5 ">
  <div class="container-fluid">
    <a class="navbar-brand a_title_navbar displayTitleNav" href="/admin">Административная панель</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarID"
      aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarID">
      <div class="navbar-nav">
        <a class="nav-link active me-1" aria-current="page" href="/main">На сайт</a>
        <a class="nav-link me-1" aria-current="page" href="/users/logout">Выход</a>
      </div>
    </div>
  </div>
</nav>
