
<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 mt-5 border-top" style="background-color: var(--color_2);">

  <div class="col-md-4 d-flex align-items-center ms-3">
    <span class="text-footer">© 2022 AnimeArea</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
    <li class="ms-3"><a href="#"><img class="img_footer" src="/images/icons/icon2.png" alt="site icon"></a></li>
  </ul>
  
</footer>
