
<div class="container d-flex justify-content-center logout">
  <div class="content_block_user_create logout-container">
    <div class="row">
      <div class="col-12">
        <h5 class="text-start text-uppercase">Выйти из системы?</h5><hr style="color: var(--color_3);  opacity:0.8">
      </div>
    </div>
    <form method="post">
        <div class="row">
          <button class="btn create_user_btn" type="submit">Выйти</button>
        </div>
    </form>
  </div>
</div>
