<section class="adminPanel">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
       <div class="content_block">
         <h4 class="text-start whatseasonH4"><a href="admin/animehandle">Аниме</a></h4> <hr style="color: var(--color_3);  opacity:0.8">
         <h4 class="text-start whatseasonH4"><a href="admin/usershandle">Пользователи</a></h4> <hr style="color: var(--color_3);  opacity:0.8">
       </div>
      </div>
    </div>
  </div>
</section>
