<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {{#if success}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{success}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{/if}}
      {{#if fail}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{fail}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{/if}}
    </div>
    <div class="col-md-7"></div>
  </div>
</div>

<div class="container" style="width: 550px;">
  <form method="post">
    <div class="mb-3">
      <label for="director_name" class="form-label">Имя режиссера</label>
      <input type="text" class="form-control" name="director_name">
    </div>
    <div class="mb-3">
      <label for="director_description" class="form-label">Краткое описание</label>
      <textarea class="form-control" rows="3" name="director_description"></textarea>
    </div>
    <button type="submit" class="btn search_filter_btn">Добавить</button>
  </form>
</div>
